<div style="height: calc(100vh);">
    <table>
        <tr><td style="border-top: none;"><img class="width-smaller" src="../../assets/elements/start-point.png"></td></tr>
        <tr><td><img class="width-small" src="../../assets/elements/end-point.png"></td></tr>
        <tr><td><img class="width-large" src="../../assets/elements/scene.png"></td></tr>
        <tr><td><img class="width-large" src="../../assets/elements/ubiquitous.png"></td></tr>
        <tr><td><img class="width-large" src="../../assets/elements/simple-arrow.png"></td></tr>
        <tr><td><img class="width-large" src="../../assets/elements/dashed-arrow.png"></td></tr>
        <tr><td><img class="width-large" src="../../assets/elements/dashed-scene.png"></td></tr>
        <tr><td><img class="width-small" src="../../assets/elements/processing-box.png"></td></tr>
    </table>
</div>
