
/* ------------- Start of Toolbar Styles -------------- */
header{
    height: 80px;
    background-color: rgba(128, 128, 128, 0.246);
    border-bottom: 1px solid rgba(128, 128, 128, 0.246);
    min-width: 712px;
}

.nav {
    display: flex;
    height: 50px;
  }

.buttons-group {
    flex: 1;
    display: flex;
    margin-left: 60px;
    align-items: center;
    min-width:fit-content;
    padding-left: 30px;
}

.button-area{
    margin-right: 20px;
    margin-bottom: -10px;
}

.action-button-label{
    padding-left: 12px;
    display: inline-flexbox;
    font-size: 13px;
    color: rgba(0, 10, 68, 0.794);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
}

.header-title {
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: rgba(0, 10, 68, 0.794);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    min-width: fit-content;
}

.screenshot-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: fit-content;
    padding-right: 30px;

}

.buttons-group, .screenshot-area {
    margin: 0 5px;
    text-decoration: none;
}

.action-button-label:hover, .action-button:hover, .screenshot-button:hover{
    cursor: pointer;
}

.screenshot-button{
    margin-right: 10px;
}

.toolbar-button, .toolbar-img{
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
}
/* ------------- End of Toolbar Styles -------------- */
