
/* ------------- Start of Toolbar Styles -------------- */
header{
    height: 80px;
    background-color: rgba(128, 128, 128, 0.246);
    border-bottom: 2px solid rgb(175, 175, 175);
}

.nav {
    display: flex;
    height: 50px;
  }

.buttons-group {
    flex: 1;
    display: flex;
    margin-left: 60px;
    align-items: center;
    min-width:fit-content;
    padding-left: 30px;
}

.button-area{
    margin-right: 20px;
    margin-bottom: -10px;
}

.action-button-label{
    padding-left: 12px;
    display: inline-flexbox;
    font-size: 13px;
    color: rgba(0, 10, 68, 0.794);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
}

.header-title {
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: rgba(0, 10, 68, 0.794);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    min-width: fit-content;
}

.screenshot-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: fit-content;
    padding-right: 30px;

}

.buttons-group, .screenshot-area {
    margin: 0 5px;
    text-decoration: none;
}

.action-button-label:hover, .action-button:hover, .screenshot-button:hover{
    cursor: pointer;
}

.screenshot-button{
    margin-right: 10px;
}

/* ------------- End of Toolbar Styles -------------- */


/* ------------- Start of Shared Components Styles -------------- */


body{
    height: calc(100vh - 60px);
}

button, img{
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col {
    padding-right: 0;
    padding-left: 0;
  }
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}




/* ------------- End of Shared Components Styles -------------- */


/* ------------- Start of Draggable Elements Panel Styles */

.elements-panel{
    resize: none;
    min-width: 200px;
    max-width: 200px;
}

/* ------------- End of Draggable Elements Panel Styles */
